<?xml version="1.0"?>
 <config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <webmaniabr_nfe_configs>
            
            <group_access_token_configs>
                <enable>0</enable>
                <ambiente_sefaz>2</ambiente_sefaz>
                <indicador_escala_relevante>-1</indicador_escala_relevante>
            </group_access_token_configs>
            
            <group_configuracao_padrao>
                <emissao_assincrona>0</emissao_assincrona>
                <emissao_automatica>0</emissao_automatica>
                <envio_email>0</envio_email>
                <modelo>1</modelo>
                <unidade_nfe>1</unidade_nfe>
                <indicador_escala_relevante>-1</indicador_escala_relevante>
                <origem_produto>-1</origem_produto>
            </group_configuracao_padrao>
            
        </webmaniabr_nfe_configs>
        
        <webmaniabr_nfe_address>
            
            <webmaniabr_nfe_address_lines>
                
                <enabled>0</enabled>
                
                <webmaniabr_nfe_address_line1>
                    <line_enabled>1</line_enabled>
                    <line_label>Endereço</line_label>
                    <line_required>1</line_required>
                    <line_validation_classes>max_text_length:255,min_text_length:1</line_validation_classes>
                    <line_min_length>1</line_min_length>
                    <line_max_length>255</line_max_length>
                </webmaniabr_nfe_address_line1>
                
                <webmaniabr_nfe_address_line2>
                    <line_enabled>1</line_enabled>
                    <line_label>Número</line_label>
                    <line_required>1</line_required>
                    <line_validation_classes>validate-number:1</line_validation_classes>
                </webmaniabr_nfe_address_line2>
                
                <webmaniabr_nfe_address_line3>
                    <line_enabled>1</line_enabled>
                    <line_label>Complemento</line_label>
                    <line_required>1</line_required>
                    <line_validation_classes>max_text_length:255,min_text_length:1</line_validation_classes>
                    <line_max_length>255</line_max_length>
                </webmaniabr_nfe_address_line3>
                
                <webmaniabr_nfe_address_line4>
                    <line_enabled>1</line_enabled>
                    <line_label>Bairro</line_label>
                    <line_required>1</line_required>
                    <line_validation_classes>max_text_length:255,min_text_length:1</line_validation_classes>
                </webmaniabr_nfe_address_line4>
                
                <webmaniabr_nfe_address_enable_off>
                    <line_endereco>1</line_endereco>
                    <line_numero>2</line_numero>
                    <line_complemento>3</line_complemento>
                    <line_bairro>4</line_bairro>
                </webmaniabr_nfe_address_enable_off>
            
            </webmaniabr_nfe_address_lines>
            
        </webmaniabr_nfe_address>

    </default>
</config>