<?xml version="1.0" encoding="UTF-8"?>
<config>
  <modules>
    <WebmaniaBR_NFe>
      <version>3.1.2</version>
    </WebmaniaBR_NFe>
  </modules>
  <default>
    <nfe>
      <section_one>
        <ambiente_sefaz>2</ambiente_sefaz>
      </section_one>
    </nfe>
  </default>
  <global>
    <fieldsets>
      <sales_convert_quote>
        <new_attribute>
          <to_order>*</to_order>
        </new_attribute>
      </sales_convert_quote>
    </fieldsets>
    <helpers>
      <nfe>
        <class>WebmaniaBR_NFe_Helper</class>
      </nfe>
    </helpers>
    <models>
      <nfe>
        <class>WebmaniaBR_NFe_Model</class>
      </nfe>
      <nfe>
        <rewrite>
          <observer>WebmaniaBR_NFe_Model_Observer</observer>
        </rewrite>
      </nfe>
    </models>
    <blocks>
      <nfe>
        <class>WebmaniaBR_NFe_Block</class>
      </nfe>
      <adminhtml>
        <rewrite>
          <sales_order_grid>WebmaniaBR_NFe_Block_Sales_Order_Grid</sales_order_grid>
        </rewrite>
      </adminhtml>
    </blocks>
    <resources>
      <nfe_setup>
        <setup>
          <module>WebmaniaBR_NFe</module>
          <class>WebmaniaBR_NFe_Model_Resource_Mysql4_Setup</class>
        </setup>
      </nfe_setup>
    </resources>
    <events>
      <controller_action_predispatch>
        <observers>
          <nfe_listen_notification>
            <class>nfe/observer</class>
            <method>listenNotification</method>
          </nfe_listen_notification>
        </observers>
      </controller_action_predispatch>
    </events>
  </global>
  <admin>
    <routers>
      <nfe>
        <use>admin</use>
        <args>
          <module>WebmaniaBR_NFe</module>
          <frontName>nfe</frontName>
        </args>
      </nfe>
    </routers>
  </admin>
  <adminhtml>
    <layout>
      <updates>
        <webmaniabr>
          <file>nfe.xml</file>
        </webmaniabr>
      </updates>
    </layout>
    <rewrite>
      <sales_order_grid>WebmaniaBR_NFe_Block_Sales_Order_Grid</sales_order_grid>
    </rewrite>
    <acl>
      <resources>
        <admin>
          <children>
            <system>
              <children>
                <config>
                  <children>
                    <nfe>
                      <title>Configurações NFe</title>
                    </nfe>
                  </children>
                </config>
              </children>
            </system>
          </children>
        </admin>
      </resources>
    </acl>
    <events>
      <core_block_abstract_to_html_after>
        <observers>
          <nfe_custom_order_view_info>
            <class>nfe/observer</class>
            <method>getSalesOrderViewInfo</method>
          </nfe_custom_order_view_info>
          <nfe_transporte_order_view_info>
            <type>singleton</type>
            <class>WebmaniaBR_NFe_Model_Observer</class>
            <method>getOrderTransporteViewInfo</method>
          </nfe_transporte_order_view_info>
        </observers>
      </core_block_abstract_to_html_after>
    </events>
  </adminhtml>
</config>
